header.header.js-header
	.container
		.header__row
			a.header__logo(href='/')
				img.header__logo-img(
					width='234'
					height='64'
					srcset='img/components/header/img/logo@2x.png 2x'
					src='img/components/header/img/logo.png'
					alt='togetherNetworks'
				)

			.header__form
				include ../form/login/login
